package {{ .Name }}

func Part1(input string) (solution int) {
	fmt.Println("No solution yet for day {{ .Number }}, part 1")
	return
}

func Part2(input string) (solution int) {
	fmt.Println("No solution yet for day {{ .Number }}, part 2")
	return
}
